name: Graphs CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: upptime/uptime-monitor@v1.38.1
        with:
          command: "graphs"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
