name: Update Template CI
on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.30.0
        with:
          command: "update-template"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
